.fullticket {
    background-image: url("https://i.pinimg.com/736x/b4/43/aa/b443aa28c29e942db78536e81247fb99.jpg");
    background:linear-gradient(0deg, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("https://i.pinimg.com/736x/b4/43/aa/b443aa28c29e942db78536e81247fb99.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    padding: .5em;
}

div div {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.title {
    grid-area: 1 / 1 / 2 / 4;
}

.date {
    grid-area: 2 / 1 / 3 / 2;
}

.admit {
    grid-area: 2 / 2 / 3 / 3;
}

.ticket {
    grid-area: 2 / 3 / 3 / 4;
}

.info {
    grid-area: 3 / 1 / 4 / 4;
    border-bottom: 1px solid black;
}

.qrcode {
    grid-area: 1 / 4 / 4 / 5;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}