.fullticket {
    background-image: url("https://i.pinimg.com/736x/b4/43/aa/b443aa28c29e942db78536e81247fb99.jpg");
    background:linear-gradient(0deg, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("https://i.pinimg.com/736x/b4/43/aa/b443aa28c29e942db78536e81247fb99.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    padding: .5em;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    height: 350px;
}

h1 {
    font-weight: bold;
    font-size: 4em;
    letter-spacing: .25em;
}

h2 {
    font-weight: lighter;
    font-size: smaller;
    letter-spacing: .25em;
    margin-top: 3em;
    margin-bottom: -2em;
}

strong {
    font-size: x-large;
}

div div {
    border-top: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    grid-area: 1 / 1 / 2 / 4;
}

.date {
    grid-area: 2 / 1 / 3 / 2;
}

.admit {
    grid-area: 2 / 2 / 3 / 3;
}

.ticket {
    grid-area: 2 / 3 / 3 / 4;
}

.info {
    grid-area: 3 / 1 / 4 / 4;
    border-bottom: 1px solid black;
    text-transform: none;
}

.qrcode {
    grid-area: 1 / 4 / 4 / 5;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.ticket p {
    font-size: x-large;
}

@media (max-width: 767px) {
    .fullticket {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(4, 1fr);
        height: 800px;
    }

    .info {
        display: none;
    }

    div div{
        flex-direction: column-reverse;
    }

    h1 {
        font-size: 2.1em;
        margin-top: .5em;
    }

    h2 {
        margin-top: -1em;
        margin-bottom: 1em;
    }

    .title {
        grid-area: 1 / 1 / 2 / 3;
        background-color: black;
        color: white;
        outline: 8px solid black;
    }

    .date {
        grid-area: 3 / 1 / 4 / 2;
        height: 3em;
    }
    
    .admit {
        grid-area: 3 / 2 / 4 / 3;
        border-right: 1px solid black;
        height: 3em;
    }
    
    .ticket {
        grid-area: 4 / 1 / 5 / 3;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        height: 3em;
    }
    
    .qrcode {
        grid-area: 2 / 1 / 3 / 3;
        border-bottom: 0px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        padding-top: 8em;
        padding-bottom: 8em;
    }

    .qrcode img {
        width: 350px;
    }
}  